nav{
  background-color:grey;
  height: 75px;
}

.menu-item {
  background-color: lightblue;
  color: white;
  display: inline-block;
  height: 50px;
  width: 100px;
  padding: 10px;
  text-align: center;
}

.content {
  height: 500px;
}

.sidebar {
  width:29%;
  background-color: lightgrey;
  float: left;
  height: 500px;
  text-align: center;
  padding-top:50px;
}

.pet.name {
  font-size:24px;

}.details {
  width: 70%;
  background-color: lightslategray;
  height: 500px;
  padding: 20px;
}

.detail-mainphoto {
  float:left;
  margin-right: 20px;
}